.container-fluid{
margin: 0;
padding: 0;
}

.sidebar_head {
    /* Initial state */
    border-top-left-radius: 10px;
    background-color: #06367a;
    width: 88px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.2s ease-out; /* Transition width only */
  }
  
  .slid {
    margin-right: 11px;
    background-color: #06367a;
    border-top-left-radius: 10px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 900px;
    transition: width 0.2s ease-out; /* Transition width only */
  }
  .slid .option12{
    font-size: 22px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .sidebar_head .sidebaritem a{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar_head p span:nth-child(1){
    font-size: 24px !important;
  }
  .sidebar_head .sidebaritem a span:nth-child(1){
    font-size: 24px;
    margin: 0 auto;
  }
  .sidebar_head .sidebaritem a span:nth-child(2){
   display: none;
  }
  .sidebar_head p span:nth-child(2) , .sidebar_head p span:nth-child(3){
    display: none;
  }

  .sidebaritem{
    margin-bottom: 10px;
  }
    .sidebaritem a{
                font-size: 16px;
                width: 100%;
                font-weight: 600;
                color: #fff;
                line-height: 1.4;
                text-decoration: none; 
                padding: 5px; 
                display: block;
                font-family: "Inter", sans-serif;
    }
    
    
    a.activeLink{
      background-color: #fff;
      color: #06367A;
      border-radius: 5px;
      transition: all .6s ease;
      font-weight: 700;
    }
    .sidebaritem a span:nth-child(1){
        font-weight: 700;
        font-size: 18px;
        margin: 0 15px; 
    }
  .option{
    width: 100%;
    height: 70px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    font-family: "Work Sans";
    font-weight: 500;
    line-height: 20px;  
    border-bottom: 2px solid #ccc; 
  }

.closebuttom{
  position: absolute;
  z-index: 1;
  right: -30px;
  top: 0  ;
  background-color: #fff;
  height: 30px;
  width: 30px;
}
.closebuttom img{
  width: 100%;
}
.shinebtn:hover {
  animation-name: shine;
  animation-duration: 300ms;
}
@keyframes shine {
  0% {
    background: linear-gradient(
      30deg, 
      hsl(260, 85%, 95%) 0%, 
      hsl(215, 91%, 25%) 25%
    );
  }

  25% {
    background: linear-gradient(
      30deg, 
      hsl(215, 91%, 25%) 0%, 
      hsl(260, 85%, 95%) 25%, 
      hsl(215, 91%, 25%) 50%);
  }

  50% {
    background: linear-gradient(
      30deg,
      hsl(215, 91%, 25%) 0%, 
      hsl(260, 85%, 95%) 50%, 
      hsl(215, 91%, 25%) 75%); 
  }

  75% {
    background: linear-gradient(
      30deg, 
      hsl(215, 91%, 25%) 0%, 
      hsl(260, 85%, 95%) 75%, 
      hsl(215, 91%, 25%) 100%); 
  }

  100% {
    background: linear-gradient(
      30deg, 
      hsl(215, 91%, 25%) 0%, 
      hsl(260, 85%, 95%) 100%); 
  }
}