@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.{googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.Header {
    padding: 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .searchbar {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #f5f9fd;
        padding: 5px 20px;
        border-radius: 30px;
        flex: 1;

        input {
            flex: 1;
            background-color: transparent;
            border: none;
            font-weight: 600;
            font-size: 16px;
            line-height: 2;

            &:focus-visible {
                outline: none;
                box-shadow: none;
                border: none;
            }

            &::placeholder {
                color: #1b1b1b;
                opacity: 1;
                font-weight: 600;
            }
        }

        span {
            font-size: 22px;
        }
    }

    .headerbutton {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        background-color: #06367a;
        border: none;
        border-radius: 50px;
        line-height: 2;
        padding: 5px 20px;
        display: flex;
        gap: 10px;
    }
}
.pageHeading{
    color: #202b3b;
  font-size: 40px;
  font-family: "Rubik";
  font-weight: 600;
  line-height: 46px;
}
.commonbox {
    background-color: #eaecef;
    border-radius: 24px;
    padding: 30px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    margin-bottom: 40px;

    .commonboxTitle {
        color: #9399a2;
        font-size: 14px;
        font-family: "Rubik";
        font-weight: 600;
        line-height: 20px;
        text-transform: uppercase;
    }
}

.floatingbn {
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #202b3b;
    color: #f5f5f5;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    outline: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.icon {
    width: 22px;
}
.layoutWrapper {
    display: flex;
    gap: 15px;
    width: 100vw;
    // max-width: 1440px;
    // margin: 0 auto;
    height: 100vh;
    padding: 20px;
    overflow: hidden;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    main {
        flex: 1;
        max-width: 93%;
    }
}
.DeviceSection{
    position: relative;
    .DevicesectionCard{
        width: 70%;
    }
    .DevicesectionImage{
        width: 30%;
        .deviceiamge{
            position: absolute;
            right: 0;
            bottom: 0;
            width: auto;
            height: 100%;
            max-height: 250px;
            img{
                width: auto;
                max-width: 400px;
                height: 100%;
            }
        }
    }
}

.devicedcard {
    position: relative;
    width: 100%;
    padding: 0 10px;
    padding-bottom: 30px;
    border-right: 2px solid #dde0e4;
    text-align: center;
img{
    margin: 0 auto;
    max-width: 100%;
}
    h4 {
        color: #9399a2;
        font-size: 14px;
        font-family: "Rubik";
        font-weight: 600;
        line-height: 18px;
        // height: 36px;    
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
                line-clamp: 1;
                height: 18px;
        -webkit-box-orient: vertical;
        text-align: center;
    }

    button {
        padding: 6px 20px;
        border: 0;
        box-sizing: border-box;
        border-radius: 24px;
        background-color: #202b3b;
        color: #f5f5f5;
        font-size: 14px;
        font-family: "Rubik";
        font-weight: 500;
        line-height: 20px;
        outline: none;
        border: 1px solid ;
        &:hover{
            background-color: #f5f5f5;
            color: #202b3b;
            transition: all .3s ease;
            border-color: #202b3b;

        }
    }
}

.HomepageLayout {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
}

.historyListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;

    p {
        color: #9399a2;
        font-size: 16px;
        font-family: "Rubik";
        line-height: 22px;
        margin-bottom: 0;
        max-width: 25%;
    }

    span {
        color: #202b3b;
        font-size: 16px;
        font-family: "Rubik";
        font-weight: 600;
        line-height: 22px;
        max-width: 25%;
    }

    img {
        width: 60px;
        height: 60px;
        border-radius: 10000px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
        border: none;
    }
}

.sidebarfooter {
    padding: 15px;

    p {
        span {
            font-size: 16px;
            width: 100%;
            font-weight: 600;
            color: #fff;
            line-height: 1.4;
            text-decoration: none;
            padding: 5px;
            font-family: "Inter", sans-serif;

            &:nth-child(1) {
                font-weight: 700;
                font-size: 18px;
                margin-left: 15px;
            }
        }
    }

    .profilesection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        .profileCircle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid #fff;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        span {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            line-height: 1.4;
            text-decoration: none;
            padding: 5px;
            font-family: "Inter", sans-serif;

            &:nth-child(2) {
                font-weight: 700;
                font-size: 18px;
                margin-left: 15px;
            }
        }
    }
}

.suggestionsection {
    .suggestioncircle {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 3px solid #06367a;

        .suggestionimagebox {
            width: 90%;
            height: 90%;
            border-radius: 50%;
            overflow: hidden;
            &:hover{
                width: 100%;
                height: 100%;
                transition: all .3s ease;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    p.suggestionName {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        color: #242424;
    }
}

.card {
    width: 220px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .cardimage {
        width: 100%;
        max-height: 200px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .cardInfo {
        padding: 10px;

        h3.locationName {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;
            color: #13264d;
        }

        h4.OwnerName {
            font-size: 15px;
            font-weight: 400;
            line-height: 1.5;
            color: #363636;
        }

        p.priceBar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                font-size: 16px;
                font-weight: 600;
                line-height: 1.5;
                color: #363636;

                &:nth-child(2) {
                    font-weight: 400;
                }
            }
        }
    }

    .postionbutton {
        position: absolute;
        top: 10px;
        right: 10px;
        border: 1px solid #06367a;
        color: #06367a;
        padding: 5px 10px;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 5px;

        &:hover {
            background-color: #06367a;
            color: #fff;
            transition: all 0.3s ease-in-out;
        }
    }
}

.homesection {
    width: 100%;

    h2.homesectiontitle {
        font-size: 24px;
        line-height: 1.5;
        color: #06367a;
        font-weight: 700;
    }

    .scrollContainer {
        width: 100%;
        display: flex;
        gap: 15px;
        justify-content: normal;
        left: 0px;
        padding: 20px 0;
    }
}

.accespage {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    gap: 0;

    .leftside {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(114, 163, 232, 0.1);

        .contentbox {
            width: 420px;

            h2.maintitle {
                color: #030303;
                font-size: 32px;
                font-family: "Quicksand", sans-serif;
                font-weight: 600;
                line-height: 40px;
                text-align: center;
            }

            h3.subtitle {
                color: #030303f5;
                font-size: 20px;
                font-family: "Quicksand", sans-serif;
                font-weight: 600;
                line-height: 1.4;
                text-align: center;
            }

            p.para {
                color: #000000ab;
                font-size: 14px;
                font-family: "Quicksand", sans-serif;
                font-weight: 600;
                line-height: 1.4;
                text-align: center;
            }

            button.loginwithgoolebtn {
                cursor: pointer;

                width: 100%;
                height: 48px;
                padding: 8px;
                border: 1px solid #cddef7;
                border-radius: 8px;
                background-color: transparent;
                color: #72a3e8;
                font-size: 16px;
                font-family: "Work Sans", sans-serif;
                font-weight: 600;
                text-align: center;
                line-height: 24px;
                outline: none;

                &:hover {
                    background-color: #fff;
                    transition: all 0.3s ease-in-out;
                }
            }

            input.inputstylelogin {
                width: 100%;
                padding: 8px 20px;
                border: 1px solid #ededed;
                border-radius: 100px;
                background-color: #ffffff;
                color: #929292;
                font-size: 16px;
                font-family: "Work Sans", sans-serif;
                line-height: 24px;
                outline: none;
                margin-bottom: 10px;
            }

            button.loginsubmitbtn {
                cursor: pointer;
                width: 100%;
                padding: 8px;
                border: 1px solid #266fd5;
                border-radius: 8px;
                background-color: #266fd5;
                color: #ffffff;
                font-size: 16px;
                font-family: "Work Sans", sans-serif;
                font-weight: 600;
                line-height: 24px;
                outline: none;

                &:hover {
                    background-color: #fff;
                    color: #266fd5;
                    transition: all 0.4s ease;
                }
            }

            h4.pagecahngebtn {
                color: #030303;
                font-size: 16px;
                font-family: "Work Sans", sans-serif;
                font-weight: 600;
                line-height: 24px;
                text-align: center;
                margin-top: 20px;
            }
        }
    }

    .rightside {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .LoginaimgeContent{
            width: 60%;
            h3{
                color: #030303;
                font-size: 24px;
                font-family: "Rubik";
                font-weight: 600;
                line-height: 1.6;
                text-align: center;
            }
            p{
                color: #7c8797;
                font-size: 18px;
                font-family: "Rubik";
                line-height: 30px;
                text-align: center;
            }
        }
    }
}
.mediacardwrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2% 20px;
    row-gap: 20px;
}
.mediacard {
 
    width: 200px;
    border-radius: 20px;
    background-color: "#ffffff";
    border-radius: 16px;
    box-shadow: 1px 1px 8px rgba(149, 149, 149, 0.25);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;

    .mediacardimage {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    h3.mediacardimgename {
        margin-bottom: 0;
        color: #202b3b;
        font-size: 22px;
        font-family: "Rubik";
        font-weight: 600;
        line-height: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 0;
        color: #c1c0c8;
        line-height: 1.4;
        margin-bottom: 0;
        color: #7c8797;
        font-size: 14px;
        font-family: "Rubik";
        font-weight: 600;
        line-height: 18px;
        text-transform: uppercase;
    }

    div {
        cursor: pointer;
    }
}

.mediacard:hover {
    background: #202b3b;
    h3.mediacardimgename {
        color: white;
    }
    p{
        color: white;
    }
}
.sectioncard{
    background: #202b3b;
    h3.mediacardimgename {
        color: white;
    }
    p{
        color: white;
    }
}
.warningbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 30px;
    h2 {
        color: #202b3b;
        font-size: 43px;
        font-family: "Rubik";
        font-weight: 600;
        line-height: 56px;
    }

    p {
        color: #7c8797;
        font-size: 27px;
        font-family: "Rubik";
        font-weight: 600;
        line-height: 35px;
    }

    .worningboxBTN {
        button {
            width: 224px;
            font-size: 14px;
            line-height: 50px;
        }
    }
}
.historybox {
    position: relative;

    .worningboxBTN {
        button {
            font-size: 14px;
            line-height: 20px;
            padding: 6px 12px;
        }
    }
}
.DeviceInfo {
    button {
        padding: 5px 20px;
        border: 0;
        box-sizing: border-box;
        border-radius: 24px;
        background-color: #202b3b;
        color: #f5f5f5;
        font-size: 14px;
        font-family: "Rubik";
        font-weight: 500;
        line-height: 20px;
        outline: none;
    }

    .deviceinfocard {
        margin-top: 15px;

        span {
            color: #9399a2;
            font-size: 20px;
            font-family: "Rubik";
            line-height: 26px;
        }

        h4 {
            color: #202b3b;
            font-size: 32px;
            font-family: "Rubik";
            font-weight: 600;
            line-height: 38px;
        }
    }
}

.sidebar {
    width: 94px;
    height: 100%;
    background-color: #eaecef;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    .logoclasswrapper {
        width: 100%;
        text-align: center;

        img {
            width: 30px;
            height: auto;
        }
    }
}

.dashboard {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }

    .mainDashboardsection {
        width: 67%;
    }
    .DashboardLeftSection {
        width: 30%;
    }
}
.imageUploadbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    flex-direction: column;

    p {
        margin-bottom: 0;
        color: #9399a2;
        font-size: 19px;
        font-family: "Rubik";
        font-weight: 600;
        line-height: 25px;
        text-transform: capitalize;
    }

    button {
        padding: 0px 20px;
        border: 0;
        box-sizing: border-box;
        border-radius: 24px;
        background-color: #202b3b;
        color: #f5f5f5;
        font-size: 14px;
        font-family: "Rubik";
        font-weight: 500;
        line-height: 20px;
        outline: none;
        border: 1px solid;
        line-height: 2;

        &:hover {
            border-color: #202b3b;
            background-color: #fff;
            color: #202b3b;
            transition: all 0.3s ease;
        }
    }
}

.mediapagewrapper {
    display: flex;
}

.campaignbox {
    display: flex;
}

.zoneselect {
    background-color: #f6f6f6;
    border-radius: 30.240000000000002px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;

}

.zonebox {
    display: flex;
    justify-content: center;

}

.hoverzonesection{
        .custombox {
            border-radius: 15px;
            background-color: #f8f9fa;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
        }
        .hoverzonetitle{
            color: #9399a2;
            font-size: 16px;
            font-family: "Rubik";
            font-weight: 500;
            line-height: 35px;
            margin-bottom: 0;
        }
        .hoverzoneBtn{
            display: none;
        }
        &:hover{
            .custombox {
                background-color: #202b3b;
                transition: all .3s ease;
            }
            .hoverzonetitle{
             color: #eaecef;
            }
            .hoverzoneBtn{
                display: flex;
                background-color: #fff;
                color: #030303;
            
                padding: 6px 20px;
                border: 0;
                box-sizing: border-box;
                border-radius: 24px;
                background-color: #f6f6f6;
                color: #000000;
                font-size: 14px;
                font-family: "Rubik";
                font-weight: 500;
                line-height: 20px;
                outline: none;
            }
        }
}
