@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.{googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.Header {
  padding: 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.Header .searchbar {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f5f9fd;
  padding: 5px 20px;
  border-radius: 30px;
  flex: 1;
}
.Header .searchbar input {
  flex: 1;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 2;
}
.Header .searchbar input:focus-visible {
  outline: none;
  box-shadow: none;
  border: none;
}
.Header .searchbar input::-moz-placeholder {
  color: #1b1b1b;
  opacity: 1;
  font-weight: 600;
}
.Header .searchbar input::placeholder {
  color: #1b1b1b;
  opacity: 1;
  font-weight: 600;
}
.Header .searchbar span {
  font-size: 22px;
}
.Header .headerbutton {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #06367A;
  border: none;
  border-radius: 50px;
  line-height: 2;
  padding: 5px 20px;
  display: flex;
  gap: 10px;
}

.commonbox {
  background-color: #eaecef;
  border-radius: 24px;
  padding: 30px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  margin-bottom: 50px;
}
.commonbox .commonboxTitle {
  color: #9399a2;
  font-size: 14px;
  font-family: "Rubik";
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

.floatingbn {
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #202b3b;
  color: #f5f5f5;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  outline: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  width: 22px;
}

.layoutWrapper {
  display: flex;
  gap: 15px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.layoutWrapper::-webkit-scrollbar {
  display: none;
}
.layoutWrapper main {
  flex: 1;
}

.devicedcard {
  position: relative;
  width: 140px;
  padding-bottom: 30px;
  border-right: 2px solid #dde0e4;
  text-align: center;
}
.devicedcard h4 {
  color: #9399a2;
  font-size: 16px;
  font-family: "Rubik";
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}
.devicedcard button {
  padding: 6px 20px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #202b3b;
  color: #f5f5f5;
  font-size: 14px;
  font-family: "Rubik";
  font-weight: 500;
  line-height: 20px;
  outline: none;
}

.HomepageLayout {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
}

.historyListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}
.historyListItem p {
  color: #9399a2;
  font-size: 16px;
  font-family: "Rubik";
  line-height: 22px;
  margin-bottom: 0;
  max-width: 25%;
}
.historyListItem span {
  color: #202b3b;
  font-size: 16px;
  font-family: "Rubik";
  font-weight: 600;
  line-height: 22px;
  max-width: 25%;
}
.historyListItem img {
  width: 60px;
  height: 60px;
  border-radius: 10000px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border: none;
}

.sidebarfooter {
  padding: 15px;
}
.sidebarfooter p span {
  font-size: 16px;
  width: 100%;
  font-weight: 600;
  color: #fff;
  line-height: 1.4;
  text-decoration: none;
  padding: 5px;
  font-family: "Inter", sans-serif;
}
.sidebarfooter p span:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
  margin-left: 15px;
}
.sidebarfooter .profilesection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.sidebarfooter .profilesection .profileCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #fff;
  overflow: hidden;
}
.sidebarfooter .profilesection .profileCircle img {
  width: 100%;
  height: 100%;
}
.sidebarfooter .profilesection span {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  line-height: 1.4;
  text-decoration: none;
  padding: 5px;
  font-family: "Inter", sans-serif;
}
.sidebarfooter .profilesection span:nth-child(2) {
  font-weight: 700;
  font-size: 18px;
  margin-left: 15px;
}

.suggestionsection .suggestioncircle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 3px solid #06367a;
}
.suggestionsection .suggestioncircle .suggestionimagebox {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  overflow: hidden;
}
.suggestionsection .suggestioncircle .suggestionimagebox img {
  width: 100%;
  height: 100%;
}
.suggestionsection p.suggestionName {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #242424;
}

.card {
  width: 220px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card .cardimage {
  width: 100%;
  max-height: 200px;
}
.card .cardimage img {
  width: 100%;
  height: 100%;
}
.card .cardInfo {
  padding: 10px;
}
.card .cardInfo h3.locationName {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #13264d;
}
.card .cardInfo h4.OwnerName {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #363636;
}
.card .cardInfo p.priceBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .cardInfo p.priceBar span {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #363636;
}
.card .cardInfo p.priceBar span:nth-child(2) {
  font-weight: 400;
}
.card .postionbutton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #06367A;
  color: #06367A;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}
.card .postionbutton:hover {
  background-color: #06367A;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.homesection {
  width: 100%;
}
.homesection h2.homesectiontitle {
  font-size: 24px;
  line-height: 1.5;
  color: #06367A;
  font-weight: 700;
}
.homesection .scrollContainer {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: normal;
  left: 0px;
  padding: 20px 0;
}

.accespage {
  display: flex;
  width: 100%;
  min-height: 100vh;
  gap: 0;
}
.accespage .leftside {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(114, 163, 232, 0.1);
}
.accespage .leftside .contentbox {
  width: 420px;
}
.accespage .leftside .contentbox h2.maintitle {
  color: #030303;
  font-size: 32px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
}
.accespage .leftside .contentbox h3.subtitle {
  color: rgba(3, 3, 3, 0.9607843137);
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}
.accespage .leftside .contentbox p.para {
  color: rgba(0, 0, 0, 0.6705882353);
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}
.accespage .leftside .contentbox button.loginwithgoolebtn {
  cursor: pointer;
  width: 100%;
  height: 48px;
  padding: 8px;
  border: 1px solid #cddef7;
  border-radius: 8px;
  background-color: transparent;
  color: #72a3e8;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 24px;
  outline: none;
}
.accespage .leftside .contentbox button.loginwithgoolebtn:hover {
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.accespage .leftside .contentbox input.inputstylelogin {
  width: 100%;
  padding: 8px 20px;
  border: 1px solid #ededed;
  border-radius: 100px;
  background-color: #ffffff;
  color: #929292;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  line-height: 24px;
  outline: none;
  margin-bottom: 10px;
}
.accespage .leftside .contentbox button.loginsubmitbtn {
  cursor: pointer;
  width: 100%;
  padding: 8px;
  border: 1px solid #266fd5;
  border-radius: 8px;
  background-color: #266fd5;
  color: #ffffff;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  line-height: 24px;
  outline: none;
}
.accespage .leftside .contentbox button.loginsubmitbtn:hover {
  background-color: #fff;
  color: #266fd5;
  transition: all 0.4s ease;
}
.accespage .leftside .contentbox h4.pagecahngebtn {
  color: #030303;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
}
.accespage .rightside {
  width: 50%;
}

.mediacardwrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2% 20px;
  row-gap: 20px;
}

.mediacard {
  width: 30%;
  border-radius: 20px;
  background-color: "#ffffff";
  border-radius: 16px;
  box-shadow: 1px 1px 8px rgba(149, 149, 149, 0.25);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}
.mediacard .mediacardimage {
  width: 100%;
}
.mediacard .mediacardimage img {
  width: 100%;
  height: auto;
}
.mediacard h3.mediacardimgename {
  margin-bottom: 0;
  color: #202b3b;
  font-size: 22px;
  font-family: "Rubik";
  font-weight: 600;
  line-height: 2;
}
.mediacard p {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
  color: #c1c0c8;
  line-height: 1.4;
  margin-bottom: 0;
  color: #7c8797;
  font-size: 14px;
  font-family: "Rubik";
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
.mediacard div {
  cursor: pointer;
}

.warningbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 30px;
}
.warningbox h2 {
  color: #202b3b;
  font-size: 43px;
  font-family: "Rubik";
  font-weight: 600;
  line-height: 56px;
}
.warningbox p {
  color: #7c8797;
  font-size: 27px;
  font-family: "Rubik";
  font-weight: 600;
  line-height: 35px;
}
.warningbox .worningboxBTN button {
  width: 224px;
  font-size: 14px;
  line-height: 50px;
}

.historybox {
  position: relative;
}
.historybox .worningboxBTN button {
  font-size: 14px;
  line-height: 20px;
  padding: 6px 12px;
}

.DeviceInfo button {
  padding: 5px 20px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #202b3b;
  color: #f5f5f5;
  font-size: 14px;
  font-family: "Rubik";
  font-weight: 500;
  line-height: 20px;
  outline: none;
}
.DeviceInfo .deviceinfocard {
  margin-top: 15px;
}
.DeviceInfo .deviceinfocard span {
  color: #9399a2;
  font-size: 20px;
  font-family: "Rubik";
  line-height: 26px;
}
.DeviceInfo .deviceinfocard h4 {
  color: #202b3b;
  font-size: 32px;
  font-family: "Rubik";
  font-weight: 600;
  line-height: 38px;
}

.sidebar {
  width: 94px;
  height: 100%;
  background-color: #eaecef;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.sidebar .logoclasswrapper {
  width: 100%;
  text-align: center;
}
.sidebar .logoclasswrapper img {
  width: 30px;
  height: auto;
}

.dashboard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.dashboard::-webkit-scrollbar {
  display: none;
}
.dashboard .mainDashboardsection {
  width: 67%;
}
.dashboard .DashboardLeftSection {
  width: 30%;
}

.imageUploadbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  flex-direction: column;
}
.imageUploadbox p {
  margin-bottom: 0;
  color: #9399a2;
  font-size: 19px;
  font-family: "Rubik";
  font-weight: 600;
  line-height: 25px;
  text-transform: capitalize;
}
.imageUploadbox button {
  padding: 0px 20px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #202b3b;
  color: #f5f5f5;
  font-size: 14px;
  font-family: "Rubik";
  font-weight: 500;
  line-height: 20px;
  outline: none;
  border: 1px solid;
  line-height: 2;
}
.imageUploadbox button:hover {
  border-color: #202b3b;
  background-color: #fff;
  color: #202b3b;
  transition: all 0.3s ease;
}

.mediapagewrapper {
  display: flex;
}/*# sourceMappingURL=style.module.css.map */